@{
    ViewBag.Title = "Сервис видеонаблюдения оперзалов инспекций округа в режиме реального времени";
}
@using CamersOperzalClient.Models
@model General

@{
    string ImageResource = Url.Action("CameraUrl", "Home", new { id = Model.Id });
}

<div class="mid_col_big_left1">
    <div class="text_block_top no_border">
        <div class="panel">
            <div class="container">
                <div class="content_form">
                    <form><h3>@Model.Ifns.IfnsName</h3></form>
                    @if (Model.CameraDisable != null && Model.CameraDisable == false)
                    {                                                
                        <img src="/images/loader.gif" id="camera_image" />                        
                    }
                    else
                    {
                    <div class="form_error">
                        @Model.CameraDisableDescription
                    </div>
                    }
                    <br /><br /><a href="@Url.Action("Index", "Home")" class="blue_button" style="width:50px;">Назад</a>
                </div>                
            </div>
        </div>
    </div>
</div>
@section scripts
                        {
    <script type="text/javascript">

        // флаг, означающий, что это первая загрузка
        // в этом случае ожидание интервала пропускается, чтобы фотография
        // загружалась сразу же
        // используется только 1 раз (при первой загрузке)
        var flagFirst = true;

        // подгрузка новой картинки в img
        function refreshImage()
        {
            document.getElementById('camera_image').src = '@ImageResource?random=' + new Date().getTime();
        }

        // установка интервала,
        // через который будет выполняется обновление картинки
        function intervalUpdate()
        {
            if (flagFirst) {
                refreshImage();
                flagFirst = false;
            }
            else {
                setTimeout(refreshImage, @Html.Raw(@ViewBag.IntervalTimeout));
            }
        }

        // добавление события загрузки для img
        document.getElementById('camera_image').addEventListener('load', intervalUpdate, false);

        intervalUpdate();

    </script>
}